#!/usr/bin/env bash
set -euo pipefail

# flake.nix:  {{ (joinPath .chezmoi.sourceDir "flake.nix") | include | sha256sum }}
# flake.lock: {{ (joinPath .chezmoi.sourceDir "flake.lock") | include | sha256sum }}

cd "{{ .chezmoi.sourceDir }}"

nix flake update
nix profile upgrade my-packages
