[init]
    defaultBranch = main
[core]
	autocrlf = input
    editor = nvim
[alias]
	co = checkout
	br = branch
	s = status
	st = status
	ss = status -s
	# pull/push/fetch
	ft = fetch
	p = push origin
	# commit
	a = add .
	c = commit -v
	cam = commit -a --amend
	# stash
	sh = stash
	shl = stash list
	shp = stash pop
	shc = stash clear
[include]
{{- if eq .chezmoi.hostname "private" }}
	path = ~/.gitconfig.private
{{- else }}
	path = ~/.gitconfig.work
{{- end }}

