[init]
    defaultBranch = main
[core]
    autocrlf = input
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
    side-by-side = true
    line-numbers = true
[merge]
    conflictStyle = zdiff3
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[alias]
	co = checkout
	br = branch
	s = status
	st = status
	ss = status -s
	# pull/push/fetch
	ft = fetch
	p = push origin
	# commit
	a = add .
	c = commit -v
	cam = commit -a --amend
	# stash
	sh = stash
	shl = stash list
	shp = stash pop
	shc = stash clear
[include]
	path = ~/.gitconfig.local
