{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
set -eu

# Install brew
if [ ! -x "$(command -v brew)" ] ; then
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" > /dev/null
else
	echo "brew already installed"
fi

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.cmdline -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

# Install volta REF:https://volta.sh/
curl https://get.volta.sh | bash

{{ end -}}

