#!/bin/bash

# IS_VSCODE_USER_DIR_EXISTED=$(test -d "$HOME/Library/Application Support/Code/User" && echo "true" || echo "false")
# extensions.txt hash: $(cat $HOME/.config/vscode/extensions.txt | shasum -a 256)

if ! command -v code &> /dev/null; then
  echo "❌ code command not found. Aborting."
  exit 0
fi

echo "🔄 Installing extensions..."

while read -r extension || [[ -n "$extension" ]]; do
  echo "🔹 インストール: $extension"
  code --install-extension "$extension"
done < "$HOME/.config/vscode/extensions.txt"
