name: Install dotfiles
on:
  - push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash
permissions:
  contents: read
jobs:
  install:
    name: install
    runs-on: macos-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: install
        env:
          NIX_CONFIG: "access-tokens = github.com=${{ github.token }}"
        run: |
          sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply Hyuga-Tsukui
