name: Install dotfiles
on:
  - push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash
jobs:
  install:
    name: install
    runs-on: macos-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: install
        run: |
          curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install --no-confirm
          . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
          sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply Hyuga-Tsukui
