snippets:
  - name: git status
    keyword: gs
    snippet: git status --short --branch

  - name: git switch
    keyword: gw
    snippet: git switch {{branch}}

  - name: git push
    keyword: gp
    snippet: git push

  - name: git pull
    keyword: gpl
    snippet: git pull --all

  - name: git commit message
    keyword: gc
    snippet: git commit -m '{{commit_message}}'

  - name: open file by nvim
    keyword: v
    snippet: nvim {{file}}

  - name: chezmoi
    keyword: cz
    snippet: chezmoi

  - name: chezmoi re-add
    keyword: czr
    snippet: chezmoi re-add
    # evaluate: true

  - name: chezmoi add
    keyword: cza
    snippet: chezmoi add {{file}}

  - name: tmux attach sessions
    keyword: ta
    snippet: tmux a -t 

completions:
  - name: ssh
    patterns:
      - "^ssh $"
    sourceCommand: "grep -iE '^Host\\s+' \"$HOME/.ssh/config\" \
      | awk '{for(i=2;i<=NF;i++) print $i}' \
      | grep -vE '^[*?]' \
      | grep -vi '^github\\..*' \
      | sort -u"
    options:
      --prompt: "'SSH Host> '"

  - name: pick file to nvim
    patterns:
      - "^nvim $"
    sourceCommand: "fd -t f --exclude .git ."
    options:
      --prompt: "'EDIT>'"

  - name: tmux attach sessions
    patterns:
      - "^tmux a -t $"
    sourceCommand: "tmux ls | awk '{ print $1}' | cut -f 1 -d ':'"
    options:
      --prompt: "'Tmux Sessions> '"
